/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-default-content:not(.custom)
  max-width: 1200px

footer.page-edit
  max-width: 1200px !important

.page-nav
  max-width: 1200px !important

.custom-block.tip
  border-color #3D78B5

.custom-block.warning
  background-color #f3f5f7
  color #2c3e50

.custom-block.danger
  background-color #f3f5f7
  color #2c3e50

.custom-block-title
  color #2c3e50 !important

.custom-block a
  color #3d78b5 !important
