Sphinx==4.4.0
recommonmark==0.7.1
sphinx-markdown-tables==0.0.16
sphinx-toolbox
markdown>3.4.0  # to prevent a problem with older versions: https://github.com/ryanfox/sphinx-markdown-tables/issues/36
