/* @import '../alabaster.css'; */

.wy-side-nav-search, .wy-nav-top {
    background: red;
  }
  /* Sidebar */
  .wy-nav-side {
    background: orange;
  }

  .wy-nav-content {
      color: brown !important;
  }

  .wy-nav-content {
    background-color: red !important;
}